body{
    margin: 0 auto;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: 100% 720px;
    font-family: sans-serif;
}

.container{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 62, 80, 0.7);
    border-radius: 04px;
    margin: 0 auto;
    margin-top: 160px;
}

.container img{
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-right: 30px;
    text-align: center;
}

.nav {
    background-color: antiquewhite;
    background-size: cover;
    display: flex;
    font-size: medium;
    justify-content: space-around;
    padding: 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
}

/* .container {
    margin-left: 15px;
    text-decoration: italic;
}

.judul {
    margin-left: 200px;
}

.input-group-rounded {
    margin-left: 400px;
} */